.container {
    text-align:center;
    
}
.answer{
	display: inline-block;
	
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	color: #A4A4A4;
	border-bottom: 15px solid ;
	display: inline-block;
	
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	color: #A4A4A4;
	border-top: 15px solid ;
	
}